<%= form_for @rehearsal do |f| %>
  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.text_field :start_time, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :end_time %>
    <%= f.text_field :end_time, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :cast_members %>
    <%= f.text_field :cast_members, class: "form-control"%>
  </div>
  <%= f.submit "Create", class: "btn-info" %>
<% end %>
<br>

<%= month_calendar events: @rehearsals do |date, rehearsals| %>
  <%= date.day %>

  <% rehearsals.each do |rehearsal| %>
    <div>
      <%= rehearsal.start_time.split(" ").second %>
      <%= rehearsal.end_time.split(" ").second %>
      <%= rehearsal.cast_members %>
    </div>
  <% end %>
<% end %>
