<h1 class="header">Manestage Archive</h1>

<div class="archive-photos">
  <div class="row">
    <div class="a-pic col-md-4">
      <%= image_tag "1718.png" %>
    </div>
    <div class="a-pic col-md-4">
      <%= image_tag "1516.png" %>
    </div>
    <div class="a-pic col-md-4">
      <%= image_tag "1415.png" %>
    </div>
  </div>
  <div class="row">
    <div class="a-pic col-md-4">
      <%= image_tag "1314.png" %>
    </div>
    <div class="a-pic col-md-4">
      <%= image_tag "1213.png" %>
    </div>
    <div class="a-pic col-md-4">
      <%= image_tag "1112.png" %>
    </div>
  </div>
  <div class="row">
    <div class="a-pic col-md-4">
      <%= image_tag "1011.png" %>
    </div>
    <div class="a-pic col-md-4">
      <%= image_tag "910.png" %>
    </div>
    <div class="a-pic col-md-4">
      <%= image_tag "89.png" %>
    </div>
  </div>
</div>
