<!DOCTYPE html>
<html>
  <head>
    <title>Manestage Theatre Company</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="432824673917-81vqc0pubcqdees09ilnlstbi9qk0u05.apps.googleusercontent.com.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
           <%= link_to "Manestage Theatre Company", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="/pages/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
            <ul class="dropdown-menu">
              <li> <%= link_to 'About MST', '/pages/about' %> </li>
              <li> <%= link_to 'Current Season', '/pages/current_season' %> </li>
              <li> <%= link_to 'Location', '/pages/location' %> </li>
              <li> <%= link_to 'Archive', '/pages/archive' %> </li>
              <li> <%= link_to 'Bridget Lott Memorial Scholorship', '/pages/memorial' %> </li>
              <li> <%= link_to 'Theatre Etiquette', '/pages/etiquette' %> </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/pages/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Auditions</a>
            <ul class="dropdown-menu">
              <li> <%= link_to 'Audition Dates', '/pages/audition_dates' %> </li>
              <li> <%= link_to 'Audition Information', '/pages/audition_info' %> </li>
              <li> <%= link_to 'Audition Results', '/pages/audition_results' %> </li>
              <li> <%= link_to 'Character Breakdown', '/pages/character_breakdown' %> </li>
            </ul>
          </li>
          <li> <%= link_to "Education", "/pages/education" %> </li>
          <li class="dropdown">
            <a href="/pages/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tickets</a>
            <ul class="dropdown-menu">
              <li> <%= link_to 'Box Office Information', '/pages/box_office' %> </li>
              <li> <%= link_to 'Buy Tickets', '/pages/buy_tickets' %> </li>
              <li> <%= link_to 'Season Tickets', '/pages/season_tickets' %> </li>
            </ul>
          </li>
          <li> <%= link_to "Volunteer", '/pages/volunteer' %> </li>
          <li> <%= link_to "Donate", '/pages/donate' %> </li>
          <li> <%= link_to "Contact", '/pages/contact' %> </li>
          <li><a href="https://www.facebook.com/ManeStage-Theatre-Company-137125529633285/" target="_blank" class="fa fa-facebook"></a></li>
          <li><a href="https://twitter.com/ManeStageThCo?lang=en" class="fa fa-twitter" target="_blank"></a></li>
          <li><a href="https://www.instagram.com/manestage_theatre/" class="fa fa-instagram" target="_blank"></a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
